@charset "UTF-8";

/* 전체 wrap */
.wrapper{
	width:100%;
	height:535px;
}
.subject_name_warp{
	height:10%;
	background-color: green;
}
.content_wrap{
	height:70%;
	background-color: blue;
}
.pageMaker_wrap{
	height:20%;
	background-color: navy;
}